
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Edit</title>
  <link rel="stylesheet" href="../static/view_emp.css">
  <link rel="stylesheet" href="../static/customer_edit.css">
  </head>
  <body class="bg">

    <ul>
      <li style="background-color:rgb(234, 235, 242)"><a href="http://127.0.0.1:5000/home" style="color:#2812b6; font-family:'Times New Roman', Times, serif"><b>METUBank</b></a></li>
    
      <li style="float:right"><a href="#">Log Out</a></li>
      <li style="float:right"><a href="#">Settings</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">View Lists</a>
            <div class="dropdown-content">
              <a href="http://127.0.0.1:5000/emp">View Employees</a>
              <a href="http://127.0.0.1:5000/branch">View Branches</a>
              <a href="http://127.0.0.1:5000/queue">View Queues</a>
              <a href="http://127.0.0.1:5000/cust">View Customers</a>
            </div>
          </li>  
          <li><a href="#">Simulation</a></li>    
      </ul>
  <h1>Employee Info</h1>
  
  <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
  <form action="http://127.0.0.1:5000/employee_edit/{{uid}}" method="POST">
      {{ form.hidden_tag() }}

      {{ form.name.label(class="form-label") }}

      {{ form.name(class="form-control", value=employee.name) }}
      <br/>

      {{ form.surname.label(class="form-label") }}

      {{ form.surname(class="form-control", value=employee.surname) }}
      <br/>

      {{ form.email.label(class="form-label") }}

      {{ form.email(class="form-control", value=employee.email) }}
      <br/>
      
      {{ form.reg_date.label(class="form-label") }}

      {{ form.reg_date(class="form-control", value=employee.reg_date) }}

      <br/>
      
      {{ form.branch_name.label(class="form-label") }}

      {{ form.branch_name(class="form-control", value=employee.branch.name) }}
      <br/>
      
      {{ form.branch_location.label(class="form-label") }}

      {{ form.branch_location(class="form-control", value=employee.branch.location) }}

      <br/>
		
      {{ form.submit(class="btn btn-secondary") }}

      <a href="{{ url_for('delete_employee', uid=employee.uid)}}" class="btn btn-danger">Delete</a>
  </form>
</div>
<br/><br/><br/>

  </body>
</html>