body {
  background-color:rgba(171, 172, 177, 0.493);
  font-family: 'Times New Roman', Times, serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2812b6;
}

li {
  float: left;
}


li a, .dropbtn {
  display: inline-block;
  color: rgb(234, 235, 242);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(234, 235, 242);
  color: #2812b6;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #2812b6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #232dc2;
  color:rgb(234, 235, 242);
}

.dropdown:hover .dropdown-content {
  display: block;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: #edeaea;}
table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #434cc8;
  color: white;
}
.button {
  background-color: #232dc2;
  border: none;
  color: rgb(234, 235, 242);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 20%;
}
.button2 {
  background-color: #434cc8;
  border:thin;
  color: rgb(234, 235, 242);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 10%;
}
.btn {
  float:left;
  margin: 12px 16px;
  font-size: 16px;
}
.btn:hover {
  background-color: #ddd;
}