<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/admin_login.css">
</head>
<body>

<ul>
    <li style="background-color:rgb(234, 235, 242)"><a style="color:#2812b6; font-family:'Times New Roman', Times, serif" href="http://127.0.0.1:5000"><b>METUBank</b></a></li>
    </ul>
<div>
   
    <h1 style="color:#232dc2; text-align: center">Administration System </h1>
    <form name = "manager_login" method="post" action= "{{ url_for('login') }}" onsubmit="">
    <label for="email">E-mail:</label><br>
    <input type="text" id="email" name="email">
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password">
    <p><input type="submit" value="Login" class="button button1"></p>
    </form>
    </div>

    </body>
    </html>

   