
{% block header %}
  <title>Employee Edit</title>
  <link rel="stylesheet" href="../static/view_emp.css">
  <link rel="stylesheet" href="../static/customer_edit.css">
  {% endblock %}
 {% extends 'main.html' %}
 
 {% block content %}

  <h1>Employee Info</h1>
  
  <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
  <form action="http://127.0.0.1:5000/employee_edit/{{uid}}" method="POST">
      {{ form.hidden_tag() }}

      {{ form.name.label(class="form-label") }}

      {{ form.name(class="form-control", value=employee.name) }}
      <br/>

      {{ form.surname.label(class="form-label") }}

      {{ form.surname(class="form-control", value=employee.surname) }}
      <br/>

      {{ form.email.label(class="form-label") }}

      {{ form.email(class="form-control", value=employee.email) }}
      <br/>
      
      {{ form.reg_date.label(class="form-label") }}

      {{ form.reg_date(class="form-control", value=employee.reg_date) }}

      <br/>
      
      {{ form.branch_name.label(class="form-label") }}

      {{ form.branch_name(class="form-control", value=employee.branch.name) }}

      <br/>
		
      {{ form.submit(class="btn btn-secondary") }}

      <a href="{{ url_for('delete_employee', uid=employee.uid)}}" class="btn btn-danger">Delete</a>
  </form>
</div>
<br/><br/><br/>

{% endblock %} 