
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Home</title>
  <link rel="stylesheet" href="../static/home.css">
  </head>
  <body class="bg">

  <ul>
    <li style="background-color:rgb(234, 235, 242)"><a href="http://127.0.0.1:5000/home" style="color:#2812b6; font-family:'Times New Roman', Times, serif"><b>METUBank</b></a></li>

     {% if "email" in session %}
    <li style="float:right"><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% endif %}
    <li style="float:right"><a href="#">Settings</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">View Lists</a>
          <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/emp">View Employees</a>
            <a href="http://127.0.0.1:5000/branch">View Branches</a>
            <a href="http://127.0.0.1:5000/queue">View Queues</a>
            <a href="http://127.0.0.1:5000/cust">View Customers</a>
          </div>
        </li>  
        <li><a href="#">Simulation</a></li>    
    </ul>
   
    <h1>Welcome admin!</h1>
    <h2>Lets put some statistics here...</h2>
    <h3>or idk something</h3>

  </body>