{% block header %}
<title>{% block title %}Customer List{% endblock %}</title>
  <link rel="stylesheet" href="../static/view_list.css">
 
  {% endblock %}
  {% extends 'main.html' %}
   {% block content %}
  <h1>Customer List</h1>
  <a href="http://127.0.0.1:5000/add_customer" class="button">Add New Customer</a>
<table>
  <tr>
    {% for header in headings %}
    {% if header != 'uid'%}
    <th>{{header}}</th>
    {% endif %}
    {% endfor %}
  </tr>

  {% for row in data %}
  <tr>
    {% for cell in row %}
    {% if cell != row[-1]%}
    <td>{{cell}}</td>
    {% endif %}
    {% endfor %}
      <td style="padding:0px; background-color:rgba(171, 172, 177, 0.296);width:15px"><button class="btn" style="margin: 0px;">
        <a href="http://127.0.0.1:5000/customer_edit/{{row[-1]}}"><i class="fa fa-edit"></i></a></td>
  </tr>
  {% endfor %}
</table>


{% endblock %}