
{% block header %}
<title>{% block title %}Queue Details{% endblock %}</title>
  <link rel="stylesheet" href="../static/view_list.css">
  {% endblock %}
 {% extends 'main.html' %}
  {% block content %}
  <h1>Customers in the Queue:</h1>
  
  <table>
    <tr>
      {% for header in headings %}
      {% if header != 'customer_id' %}
      <th>{{header}}</th>
      {% endif %}
      {% endfor %}
    </tr>
  
    {% for row in data %}
    <tr>
      {% for cell in row %}
      {% if cell != row[-1]%}
    <td>{{cell}}</td>
    {% endif %}
      {% endfor %}
      <td style="padding:0px; background-color:rgba(171, 172, 177, 0.296);width:15px"><button class="btn" style="margin: 0px;">
        <a href="http://127.0.0.1:5000/queue_cust_edit/{{Queue}}/{{row[-1]}}"><i class="fa fa-edit"></i></a></td>
    </tr>
    {% endfor %}
    
  </table>
  {% endblock %}