
{% block header %}
<title>{% block title %}Branch List{% endblock %}</title>
  <link rel="stylesheet" href="../static/view_emp.css">
  {% endblock %}
  {% extends 'main.html' %}
   {% block content %}
  <h1>Branch List</h1>
  
<table>
  <tr>
    {% for header in headings %}
    <th>{{header}}</th>
    {% endfor %}
  </tr>
  {% for row in data %}
    <tr>
      {% for cell in row %}
      <td>{{cell}}</td>
      {% endfor %}
    <td><a href="http://127.0.0.1:5000/branch_emp/{{row[0]}}">Employee List</a></td>
  </tr>
  {% endfor %}
  
  {% endblock %}